[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.26.0"

[dev-packages]
python-app-exercise = {editable = true, path = "."}
pytest = "6.2.5"

[requires]
python_version = "3.10"
